<%- include("partials/header") %>
<%- include("partials/nav") %>
<h1 class="container text-center my-5   ">Update User</h1>
<form class=" m-auto w-25 p-5  bg-light rounded" action="/update/<%= user._id %>" method="post">
    <input class="form-control p-2  mb-3"
    type="text"
    name="username" id="" 
    value="<%= user.username %>"
    placeholder="Enter Ur Name" >

    <input class="form-control p-2 mb-3"
    type="email" 
    name="email" id="" 
    value="<%= user.email %>"
    placeholder="Enter Ur E-mail" >

    <input class="form-control p-2 mb-3"
    type="password" 
    name="password" id="" disabled placeholder="************">
    <button class="px-3 py-2 mt-2 bg-primary text-light rounded text-decoration-none" >Update</button>
    
    
</form>

<%- include("partials/footer") %>